Ans 1.

In [ ]:
length=int(input('Enter the length'))
width=int(input('Enter the width'))
area=length*width
print('Area of the rectangle is ',area)

Enter the length5
Enter the width3
Area of the rectangle is  15

Ans 2.

In [ ]:
n1=int(input('Enter the first number'))
n2=int(input('Enter the second number'))
sum=n1+n2
dif=n1-n2
prd=n1*n2
quo=n1/n2
print('Sum of the two numbers is ',sum)
print('Difference of the two numbers is ',dif)
print('Product of the two numbers is ',prd)
print('Quotient of the two numbers is ',quo)

Enter the first number8
Enter the second number2
Sum of the two numbers is  10
Difference of the two numbers is  6
Product of the two numbers is  16
Quotient of the two numbers is  4.0

Ans 3.

In [ ]:
temp=input('Enter the temperature along with unit F or C without space ')
if temp[-1]=='F':
  print('The value of the temperature in Celsius is ',(((int(temp[:-1]))-32)*5)/9)
elif temp[-1]=='C':
  print('The value of the temperature in Fahrenheit is ',(((int(temp[:-1]))*9)/5) + 32)
else:
  print('Invalid Entry')

Enter the temperature along with unit F or C without space 50F
The value of the temperature in Celsius is  10.0

In [ ]:
temp=input('Enter the temperature along with unit F or C without space ')
if temp[-1]=='F':
  print('The value of the temperature in Celsius is ',(((int(temp[:-1]))-32)*5)/9)
elif temp[-1]=='C':
  print('The value of the temperature in Fahrenheit is ',(((int(temp[:-1]))*9)/5) + 32)
else:
  print('Invalid Entry')

Enter the temperature along with unit F or C without space 50C
The value of the temperature in Fahrenheit is  122.0

Ans 4.

In [ ]:
num=int(input('Enter the number'))
if num>0:
  print('The number is positive')
elif num<0:
  print('The number is negative')
elif num==0:
  print('The number is equal to zero')
else:
  print('Invalid Entry')

Enter the number6
The number is positive

Ans 5.

In [ ]:
year=int(input('Enter the year '))
if year%4==0 and year%100!=0:
  print('The year is a leap year')
elif year%400==0:
  print('The year is a leap year')
else:
  print('The year is not a leap year')

Enter the year 2000
The year is a leap year

Ans 6.

In [ ]:
mark=int(input('Enter the mark '))
if mark>=90:
  print('You have scored A grade')
elif mark>=80:
  print('You have scored B grade')
elif mark>=70:
  print('You have scored C grade')
elif mark>=60:
  print('You have scored D grade')
elif mark>=0:
  print('You have scored F grade')
else:
  print('Invalid Entry')

Enter the mark 79
You have scored C grade

Ans 7.

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

Ans 8.

In [ ]:
for i in range(1,21):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20

Ans 9.

In [ ]:
num=int(input('Enter the number whose multiplication table you require '))
for i in range(1,11):
  print(num,'x',i,'=',num*i)

Enter the number whose multiplication table you require 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50